* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: antiquewhite;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
}

.conteiner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-top: 20px;

}

form input {
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px black;
    padding: 8px;
    margin-right: 15px;
}

form button {
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: darkgreen;
}


/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
} 

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

  /* Estilos do campo de telefone */
#telefone-participante {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#telefone-participante:focus {
    outline: none;
    border-color: #007bff;
}

table td img {
    height: 30px;
}